.cards-wrapper {
    margin: none !important;
    padding: 30px 0 30px 0 !important;
}

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* New Variation for red-theme class */
.red-theme.cards .cards-card-image {
    border: 30px solid rgb(235, 16, 0); /* Red frame around the image */
}

.red-theme.cards .cards-card-image img {
    height: 180px;
}

.red-theme.cards > ul > li {
    border: none; /* Removed border */
    text-align: center;
}

.red-theme.cards .cards-card-body p strong {
    font-family: "adobe_cleanregular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

.red-theme.cards .cards-card-body p {
    font-family: "adobe_cleanregular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

/* New Variation for no-image class */
.no-image.cards > ul > li {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 20px; /* Added padding for better spacing */
}

.no-image.cards .cards-card-body h2 {
    font-size: 20px;
    color: #fff; /* White color for headings */
}

.no-image.cards .cards-card-body p strong {
    color: #fff;
    font-size: 13px;
    font-family: "adobe_cleanregular";
    font-weight: bold;
}

.no-image.cards .cards-card-body p {
    color: #fff;
    font-size: 13px;
    font-family: "adobe_cleanregular";
    font-weight: 300;
}

/* Media Queries */
@media (max-width: 768px) {
    .cards > ul {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

@media (min-width: 769px) {
    .cards > ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
