.nfs-form-wrapper {
    padding: 0 !important;
}

.nfs-form {
    display: flex;
    background-color: #ff0000;
    padding: 20px;
    box-sizing: border-box;
}
.nfs-form .left {
    flex: 1;
    padding: 0 20px;
}
.nfs-form .right {
    flex: 1;
    padding: 20px;
}
.nfs-form h2 {
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-family: "adobe_cleanbold";
}
.nfs-form p {
    font-family: "adobe_cleanregular";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.nfs-form form {
    display: flex;
    flex-direction: column;
}
.nfs-form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nfs-form button {
    padding: 15px;
    background-color: #ff0000;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nfs-form button:hover {
    background-color: #ff3333;
}
.nfs-form .disclaimer {
    font-family: "adobe_cleanregular";
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-top: 15px;
}
.nfs-form .disclaimer a {
    color: white;
    text-decoration: underline;
}

.nfs-form label {
    color: rgb(255, 255, 255);
    display: inline;
    font-family: "adobe_cleanregular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    line-height: 15px;
}

/* Mobile view styles */
@media only screen and (max-width: 768px) {
    .nfs-form {
        flex-direction: column;
        padding: 10px;
    }
    .nfs-form .left,
    .nfs-form .right {
        flex: none;
        padding: 10px 0;
    }
    .nfs-form h2 {
        font-size: 32px;
    }
    .nfs-form p {
        font-size: 20px;
    }
    .nfs-form input,
    .nfs-form button {
        font-size: 1em;
        padding: 10px;
    }
    .nfs-form button {
        font-size: 1em;
        padding: 10px;
    }
    .nfs-form .disclaimer {
        font-size: 10px;
    }
}

@media (min-width: 1500px) {
    .nfs-form-wrapper {
        width: 100% !important;
    }
}

/* Styles for thank you message */
.thank-you-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
}

.thank-you-content {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank-you-content img {
    width: 50px;
    height: auto;
    color: white;
}

.thank-you-content .thank-you-header {
    padding: 10px;
    background-color: #fff;
}

.thank-you-content h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
}

.thank-you-content p {
    font-size: 1em;
}

#closeThankYou {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}
