.banner-container {
    background: black;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 14px 0 14px 0;
}

.banner img {
    height: 40px;
}

/* New Variation for red-bg class */
.red-bg.banner {
    background-color: #eb1000; /* Red background */
    color: white; /* White text color */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    width: 100%;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .banner img {
        padding: 0;
    }
}
