.text-wrapper {
    margin: none !important;
    padding: 30px !important;
    background-color: #d3d3d333; /* Changed to a much lighter grey */
}

.text {
    margin: auto;
    color: var(--text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
    font-size: 14px;
}

.text p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .text {
        padding: 0 20px;
    }
}
