.text-container {
    background-color: #d3d3d333; /* Changed to a much lighter grey */
}

.text-wrapper {
    margin: none !important;
    padding: 30px !important;
}

.text {
    margin: auto;
}

.text p {
    margin-bottom: 20px;
    font-family: "adobe_cleanregular";
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}

@media (max-width: 768px) {
    .text {
        padding: 0 20px;
    }
}
