body {
    display: none;
    margin: 0;
    line-height: 1.6;
}

body.appear {
    display: block;
}

main > .section > div {
    margin: auto;
    padding: 0 20px;
}

h2 {
    color: #eb1000;
    font-size: 72px;
    font-weight: bolder;
    font-family: "adobe_cleanbold";
    margin: 0;
}

h3 {
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-family: "adobe_cleanbold";
    margin: 0;
}

h4 {
    font-weight: 300;
    font-family: Ubuntu;
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-family: "adobe_cleanbold";
    text-align: center;
    margin: 0;
}

p {
    color: rgb(0, 0, 0);
    display: inline;
    font-family: "adobe_cleanregular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: block;
}

a.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #0078d4; /* Blue background color */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 30px; /* Rounded corners */
    font-family: "adobe_cleanbold";
    font-size: 16px;
    font-weight: bold;
    text-align: center; /* Center the text */
}

a.button:hover {
    background-color: #005a9e; /* Darker blue on hover */
}

/* Mobile view styles */
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    a.button {
        padding: 10px 20px;
        font-size: 14px;
    }

    main > .section > div {
        padding: 0 10px;
    }
}

@media (min-width: 1500px) {
    main > .section > div {
        width: 1200px;
    }
}
